<% content_for :header do %>
    <style type="text/css">
      body {
          background-color: #005;
          background-image: url(/assets/TLCblue.png);
          background-attachment: fixed;
          color: white;
      }
      div#view {
          float: right;
          width: 950px;
          padding: 20px 20px;
      }
      .chapter {
          vertical-align: top;
      }
      .words {
          font-size: 250%;
      }
    </style>
<%- end -%>
<div id="view">
<table>
  <%- @books.each do |book| -%>
      <tr>
        <td class="chapter"><%= book.chapter %>:<%= book.verse %></td>
        <td class="words"><%= slash_to_br book.word %></td>
      </tr>
  <%- end -%>
</table>
</div>
