// Place all the styles related to the Bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#bookmark {
  float: left;
  font-size: 8pt;
  margin: 0;
  width: 195px;
  overflow: hidden;
}
.bmlist {
  list-style: none;
  margin: 0;
  margin-left: -5.5em;
  margin-right: -2em;
  line-height: 1.7em;
  overflow: hidden;
}
.ui-icon {
  float: left;
}
#ui-datepicker-div {
  font-size: 10px;
}
