div#view {
  float: right;
  width: 97%;

  .chapter {
    font-size: 34px;
    vertical-align: top;
  }
  .words {
    font-size: 52px;
    font-family: Helvetica, Arial, sans-serif;
  }
}
.books {
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
}
