// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
  width: 100%;
  height: 100%;
}
.song {
  margin: 0;
  font-size: 36px;
  width: 100%;
  height: 100%;
  .roman {
    font-size: 80%;
  }
}
.dashed-border {
  margin: 10px;
  border: 1px dashed white;
  width: 410px;
  height: 310px;
  padding: 5px;
}
.preview-phrase {
  margin: 0;
  font-size: 36px;
  width: 400px;
  height: 300px;
}
.hidden {
  display: none;
}
#boxA {
  width:300px;
  float:left;
  font-size: 9pt;
}
