// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url(TLCblue.png);
  color: white;
}
.song {
  margin: 0;
  font-size: 36px;
  width: 1000px;
  height: 720px;
  border: 1px solid white;
}
.hidden {
  display: none;
}
#boxA {
  width:300px;
  float:left;
  font-size: 9pt;
}
